

<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.3/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.1.1/css/mdb.min.css'>
<style>
    	body {
			background:#ededed;
		}
		.panel {
			display:block;
			height:278px;
		}

		.freeBird {
			margin-top:-100px;
		}

		.small-text {
			font-size:12px;
		}
 </style>   

<!-- partial:index.partial.html -->

	<div class="panel deep-purple">
        <br>
         <span class="mdl-layout-title" style="color: white;margin-left: 20px;"><a href="/dashboard" style="color: white;"><icon class="fa fa-arrow-left"></icon> Easy Forms</a></span>
    </div>
	<main class="freeBird">
		<div class="container">
			<div class="row">

				<div class="col-md-8 m-x-auto pull-xs-none">
                    
					<div class="jumbotron">
                       
                        <div class="md-form">
							<input type="text" class="form-control" value="Formulario sin título" style="font-size: 34px;">
                            <input type="text" class="form-control" placeholder="Descripción del formulario">
						</div>
                        <div class="md-form">
							
						</div>

						<!--Naked Form-->
						<div class="card-block">

							
						</div>
                        
						<!--Naked Form-->

					</div>
                    
				</div>

			</div>
			
		</div>
	</main>

