

<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.3/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.1.1/css/mdb.min.css'>
<style>
    	body {
			background:#ededed;
		}
		.panel {
			display:block;
			height:278px;
		}

		.freeBird {
			margin-top:-100px;
		}

		.small-text {
			font-size:12px;
		}
 </style>   

<!-- partial:index.partial.html -->

	<div class="panel deep-purple">
        <br>
         <span class="mdl-layout-title" style="color: white;margin-left: 20px;"><a href="/" style="color: white;"><icon class="fa fa-arrow-left"></icon> Easy Forms</a></span>
    </div>
	<main class="freeBird">
		<div class="container">
			<div class="row">

				<div class="col-md-6 m-x-auto pull-xs-none">
                    
					<div class="jumbotron">
                        
                        <h2 class="h2-responsive"><strong>Crear cuenta</strong></h2>
                        <p>Digite los campos obligatorios</p>
                    
					     <div class="md-form">
							<input type="text" id="form1" class="form-control">
                            <label for="form1" class="">Nombre completo</label>
						</div>

						 <div class="md-form">
							<input type="text" id="form1" class="form-control">
                            <label for="form1" class="">Apellidos</label>
						</div>

                        <div class="md-form">
							<input type="text" id="form1" class="form-control">
                            <label for="form1" class="">Correo electrónico</label>
						</div>

                        <div class="md-form">
							<input type="text" id="form1" class="form-control">
                            <label for="form1" class="">Contraseña</label>
						</div>

                        <div class="text-xs-right">
							<button class="btn btn-primary waves-effect waves-light">Crear cuenta</button>
						</div>

					</div>
                    
				</div>

			</div>
			
		</div>
	</main>

