
    <style>
    #view-source {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 40px;
      margin-bottom: 40px;
      z-index: 900;
    }
    </style>
 
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

      <div class="android-header mdl-layout__header mdl-layout__header--waterfall" style="background: rgb(63,81,181);">
        <div class="mdl-layout__header-row">
          <span class="android-title mdl-layout-title">
           Easy Forms
          </span>
          <!-- Add spacer, to align navigation to the right in desktop -->
          <div class="android-header-spacer mdl-layout-spacer"></div>
     
          <!-- Navigation -->
          <div class="android-navigation-container">
            <nav class="android-navigation mdl-navigation">
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/registrate" style="color: white;">Regístrate</a>
            </nav>
          </div>
        </div>
      </div>

      <div class="android-content mdl-layout__content">
        <a name="top"></a>
        <div class="android-be-together-section mdl-typography--text-center">
          <div class="logo-font android-slogan">Crea atractivos formularios</div>
          <div class="logo-font android-sub-slogan">Recopila y organiza todo tipo de información con Formularios de Easy Forms. Gratis.</div>
          <div class="logo-font android-create-character">
            <a href="/login" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Ir a Formularios de Easy Forms</a>
          </div>
        </div>
    
      </div>
    </div>
 
